

<div class="background-one">
  <div class="link-container">
    <a class="link-one" routerLink="/" routerLinkActive="active">Template Driven</a>
  </div>
</div>
<div class="background-two link-container">
  <a class="link-two" routerLink="/reactive-form" routerLinkActive="active">Reactive Form</a>
</div>
<div class="background-three link-container">
  <a class="link-three" routerLink="/reactive-form-validation" routerLinkActive="active">Reactive Validation</a>
</div>
<br> <br>

<router-outlet />
