<ul id="nav">
	<li class="nav-link">
		<a routerLink="/" routerLinkActive="active">Template Driven</a>
	</li>
	<li class="nav-link">
		<a routerLink="/reactive-form" routerLinkActive="active">Reactive Form</a>
	</li>
	<li class="nav-link">
		<a routerLink="/reactive-form-validation" routerLinkActive="active">Reactive Validation</a>
	</li>
</ul>

<!-- ------------ -->
<!-- Social links -->
<!-- <aside class="_social-links">
	<ul class="_links-list">
		<li class="_social-link"><a href="https://twitter.com/ggsingla" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
		<li class="_social-link"><a href="https://github.com/ggsingla" target="_blank"><i class="fa-brands fa-github"></i></a></li>
		<li class="_social-link"><a href="mailto:ggsingla777@gmail.com" target="_blank"><i class="fa-solid fa-at"></i></a></li>
	</ul>
</aside> -->
<!-- ------------ -->

<router-outlet />
